@font-face {
  font-family: "Lato";
  src: url("../proj1/fonts/Lato.eot");
  src: url("../proj1/fonts/Lato.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato.woff2") format("woff2"),
    url("./fonts/Lato.woff") format("woff"),
    url("./fonts/Lato-Regular.ttf") format("truetype"),
    url("./fonts/Lato.svg#rex") format("svg");
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  padding-top: 50px;
  width: 1600px;
}
.visually_hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  width: 1140px;
}
li {
  list-style: none;
}

/*navigation styles*/

.main_nav {
  background-color: #222222;
}
.main_nav_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.visually_hidden_search {
  margin-top: 28px;
  background: none;
  border: none;
}
.visually_hidden_search:hover {
  cursor: pointer;
}
.visually_hidden_search:active,
.visually_hidden_search:focus-within {
  outline: none;
}
.visually_hidden_menu {
  align-self: center;
  visibility: hidden;
  width: 100px;
  margin-right: 759px;
}
.visually_hidden_menu:active {
  visibility: visible;
}
.visually_hidden_search:focus-within ~ .visually_hidden_menu,
.visually_hidden_menu:focus-within {
  visibility: visible;
}
.logo_link {
  padding-top: 18px;
  padding-bottom: 19px;
  margin-right: 41px;
}
.cite_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 168px;
  justify-content: space-between;
  align-items: flex-end;
}
.cite_nav_item {
  padding: 18px 0 20px 0;
}

/*promo styles*/
.promo {
  background: #f1e4e6;
}

.promo_wrapper {
  display: flex;
  flex-direction: row;
}
.left_column {
  width: 571px;
  display: flex;
  justify-content: flex-end;
}

.right_column {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: row;
  align-content: flex-start;
}

.the_brand,
.of_luxerious_fashion {
  width: 100%;
  font-family: "Lato";
  padding-left: 91px;
}

.the_brand {
  padding-top: 290px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}

.of_luxerious_fashion {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  text-transform: uppercase;
}
.colortext {
  color: #f16d7f;
}
